.transaccion{
  width: 200px;
  border: 1px solid black;
  text-align: center;
  margin: 5px;
}

ul{
  list-style: none;
  display: inline-block;
}

h3{
  text-align: center;
}

.spent{
background-color: red;
}

.income{
background-color: green;
}
