<h3>Hay un total de {{ transacciones.length }} transacciones</h3>
<ul>
  <li *ngFor="let transaccion of transacciones">
    <div class="transaccion" [ngClass]="{ 'spent': transaccion.kind=='spent', 'income': transaccion.kind=='income'}">
      <span>Nombre: {{transaccion.name}}</span><br/>
      <span>Descripción: {{transaccion.description}}</span><br/>
      <span>Importe: {{transaccion.amount}}</span><br/>
      <span>Fecha: {{transaccion.date | date: 'dd-MM-YYYY'}}</span><br/>
    </div>
  </li>
</ul>

<h3 [class]='color'>El balance total es {{ balance }}</h3>
